.button {
  color: white;
  font-size: 15px;
  padding: 10px;
  border: 2px solid #f3aa4e;
  border-radius: 8px;
  background-color: transparent;
  margin-right:10px;
}
.buttonactive {
  color: white;
  font-size: 15px;
  padding: 10px;
  border: 2px solid #f3aa4e;
  border-radius: 8px;
  background-color: #f3aa4e;
  margin-right:10px;
}
